<!-- Start header -->

<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/Content/webcanteen/images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto" id="myDIV">
                    <li class="nav-item active"><a class="nav-link" href="/">Trang chủ</a></li>
                    @{ Html.RenderAction("ProductCategory", "Web");}
                    <li class="nav-item"><a class="nav-link" href="~/Web/About">Về chúng tôi</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Web/Contact">Liên hệ</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Web/Cart">Giỏ hàng</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    var btnContainer = document.getElementById("myDIV");

    var btns = btnContainer.getElementsByClassName("nav-item");
    for (var i = 0; i < btns.length; i++) {

        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

</script>
<!-- End header -->