
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_WebPage.cshtml";
}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Về chúng tôi</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->
<!-- Start Stuff -->
<div class="stuff-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/Content/webcanteen/images/241905002_131965279163695_7965189224285870673_n.jpg">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/profile.php?id=100070506703282" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Sơn</h3>
                        <span class="post">Web Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/Content/webcanteen/images/248513269_409315657299749_3843773202836039797_n.jpg">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/manh2362000/" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Mạnh</h3>
                        <span class="post">Web Designer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/Content/webcanteen/images/248671796_474668373795842_7896197626743053313_n.jpg">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/datdq0610" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Đạt</h3>
                        <span class="post">Web Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/Content/webcanteen/images/249045541_565244007869338_7568110531953035963_n.jpg">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/huycoder.IT" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Huy</h3>
                        <span class="post">Web Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/Content/webcanteen/images/244531426_419501096206350_8048621408797905946_n.jpg">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/profile.php?id=100044393890881" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Giang</h3>
                        <span class="post">Web Designer</span>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</div>
<!-- End Stuff -->


