@model Project_Canteen_MS.Models.Category
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_WebPage.cshtml";
}

<h2>Category</h2>
<h2>Category</h2>
<h2>Category</h2>
<h2>Category</h2>
<h2>Category</h2>

